* {
  box-sizing: border-box;
  font-weight: 100;
}
@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
$basic-border: 2px solid black;
h2 {
  font-weight: 400;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: black;
}
.App {
  display: flex;
  flex-direction: column;
  font-family: 'Fira Code', sans-serif;
  background-color: #e9e9e9;
}
.top_panel {
  width: 100%;
  border-bottom: $basic-border;
  padding: 0 30px;
  display: flex;
  align-items: flex-end;
  height: 15vh;
  h1 {
    font-size: 48px;
    text-transform: uppercase;
  }
}
.container {
  display: flex;
  height: 85vh;
}
.left_panel {
  width: 70%;
  p {
    font-size: 20px;
  }
  ul {
    padding: 0 20px;
  }
  img {
    height: 35px;
  }
}
.right_panel {
  width: 30%;
  border-left: $basic-border;
  @include flex_center;
  overflow: hidden;
  img {
    border-radius: 50%;
  }
}
.user_info {
  padding: 10px 30px;
  border-bottom: $basic-border;
  width: 100%;
  height: 65%;
  overflow-y: scroll;
  a {
    margin-top: -12px;
    display: inline-block;
  }
}
.repos {
  display: grid;
  height: 35%;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100%;
  overflow-y: scroll;
  .repo:nth-of-type(4n) {
    border-right: 0;
  }
}
.repo {
  border-right: $basic-border;
  border-bottom: $basic-border;
  gap: 5px;
  @include flex_center;
  overflow: hidden;
  text-decoration: none;
  color: black;
  h1 {
    margin: 0;
    font-size: 24px;
  }

  p {
    margin: 0;
  }
  div {
    flex-direction: column;
    @include flex_center;
  }
}
